<div class="chip-container" role="group" aria-label="Research interests" markdown="0">
<a class="chip" href="https://en.wikipedia.org/wiki/Artificial_intelligence" title="Artificial Intelligence on Wikipedia">Artificial Intelligence</a>
<a class="chip" href="https://en.wikipedia.org/wiki/Information_retrieval" title="Information Retrieval on Wikipedia">Information Retrieval</a>
<a class="chip" href="https://en.wikipedia.org/wiki/Data_mining" title="Data Mining on Wikipedia">Data Mining</a>
</div>
